<% provide(:title, "BuKa Wiki") %>

<div class="row">
  <%= render "sidebar" %>

  <div class="col-xs-10 col-sm-10 col-md-10 col-lg10">

    <h1>BuKaWiki Home Page</h1>

    <h1>The Unofficial Official Wiki for BuKas<h1>

    <h4>Created by <%= link_to "Gustavo Guimarães (BuKa 2014-2015)", "https://www.humboldt-life.de/profile/u4141783419"%>.</h4> <h4>Updated and made relevant by you, amazing BuKa fellows of the present and future</h4>

    <footer>
    <strong>"THE BEER-WARE LICENSE"</strong>
    <p>* Gustavo coded this for you. As long as you retain this notice you can do whatever you want with this stuff. If we meet some day, and you think this stuff is cool or better worth it , you can buy him a beer in return :-)</p>
    </footer>

  <%= link_to new_page_path, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-plus text-success"></span> Create a new page
  <% end %>

  </div>
</div>
